In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data\gemstone.csv")

In [3]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [4]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

# There is no missing data in this dataset

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [7]:
data = data.drop(labels=["id"],axis = 1)
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [12]:
data.duplicated().sum()

0

In [ ]:
cat_col = data.columns[data.dtypes == 'object']
num_col = data.columns[data.dtypes != 'object']

pandas.core.indexes.base.Index

In [44]:
data[cat_col].describe()

           cut   color clarity
count   193573  193573  193573
unique       5       7       8
top      Ideal       G     SI1
freq     92454   44391   53272

In [45]:
data[num_col].describe()

,carat,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,0.790688,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,0.462688,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.200000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,0.700000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,1.030000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,3.500000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000

In [57]:
cut_val = list(data['cut'].unique())
color_val = list(data['color'].unique())
clarity_val = list(data['clarity'].unique())

In [58]:
color_val

['F', 'J', 'G', 'E', 'D', 'H', 'I']

In [78]:
from sklearn.preprocessing import OrdinalEncoder
ordEnc = OrdinalEncoder(categories = [cut_val,clarity_val,color_val])

In [61]:
cut_val = ['Ideal','Premium', 'Very Good', 'Good', 'Fair']

In [60]:
clarity_val = ['I1','SI2','SI1','VS2', 'VS1', 'VVS2', 'VVS1', 'IF']

In [62]:
color_val = ['D','E','F', 'G', 'H', 'I','J']

In [86]:
new_data = ordEnc.fit_transform(data[['cut','clarity','color']])

In [87]:
new_data = pd.DataFrame(new_data,columns=ordEnc.get_feature_names_out())
new_data.head()

   cut  clarity  color
0  1.0      3.0    2.0
1  2.0      1.0    6.0
2  0.0      4.0    3.0
3  0.0      4.0    3.0
4  1.0      3.0    3.0

In [91]:
data = pd.concat([data,new_data],axis = 1)

In [92]:
data.head()

,carat,cut,color,clarity,depth,table,x,y,z,price,cut,clarity,color
0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619.0,1.0,3.0,2.0
1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387.0,2.0,1.0,6.0
2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772.0,0.0,4.0,3.0
3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666.0,0.0,4.0,3.0
4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453.0,1.0,3.0,3.0

In [107]:
data = data.drop(data.columns[data.dtypes == 'object'],axis=1)
data.head()

   carat  depth  table     x     y     z    price
0   1.52   62.2   58.0  7.27  7.33  4.55  13619.0
1   2.03   62.0   58.0  8.06  8.12  5.05  13387.0
2   0.70   61.2   57.0  5.69  5.73  3.50   2772.0
3   0.32   61.6   56.0  4.38  4.41  2.71    666.0
4   1.70   62.6   59.0  7.65  7.61  4.77  14453.0

In [108]:
data = pd.concat([data,new_data],axis = 1)

In [109]:
data.head()

   carat  depth  table     x     y     z    price  cut  clarity  color
0   1.52   62.2   58.0  7.27  7.33  4.55  13619.0  1.0      3.0    2.0
1   2.03   62.0   58.0  8.06  8.12  5.05  13387.0  2.0      1.0    6.0
2   0.70   61.2   57.0  5.69  5.73  3.50   2772.0  0.0      4.0    3.0
3   0.32   61.6   56.0  4.38  4.41  2.71    666.0  0.0      4.0    3.0
4   1.70   62.6   59.0  7.65  7.61  4.77  14453.0  1.0      3.0    3.0